body    {
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;;
    font-size: 0.9en;
    background-color: bisque;
}

a   {
    margin: 5px;
    text-decoration: none;
    color: black;
}

a:hover {   
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}

ul > a, ul > img    {
    padding: 0 8 px;
}

.header-img :hover    {
    box-shadow:  0 0 10px gainsboro;
    border-radius: 20px;
    cursor: pointer;

}

section {
    display: flex;
    flex-direction: column;
    font-size: 70px;
    text-shadow: 1.5px 1.5px #03292d;
    align-items: center;
    margin-top: 10vh;

}

@font-face  {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqa3VDNVk5cnlIZXRaWHNTb2ZpTTYxZXlsZFpsUXxBQ3Jtc0tsNDVoMFMyZXd5TEJFYzVKcHhsWUl2Slk4djl0dHFkVmNnWUJOUUJISXBNdC1Wb0VRQXotbjJ4UWNld2dvQ0hBSXhfN0FNVE9ER3pTT1dNel9vaVNNRHNHWkJWaFVFWlNyZlN5WFRhQm52QkpvajJhRQ&q=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fproductsans%2Fv5%2FHYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)

}a

h1  {
    font-size: 5.5em;

}

.letterspans    {
    color: #0A7E8C;
    text-shadow: white, 1px;
}

.my-input-container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 38px;
    border-radius: 100px;

}

.my-input-container:hover   {
    box-shadow: 0 0 10px 0 #053e45;
}

.my-input-container > input {
    flex-grow: 1;
    border: none;
    border-radius: 100px; 
    outline: none;
    background-color: bisque;


}

img:hover   {
    cursor: pointer;
}

.my-button-container    {
    padding-top: 40px;

}

button  {
    background-color: bisque;
    border-style: none;
    border-radius: 100px;
    height: 36px;
    padding: 0 20px;
    margin: 0 4px;

}

button:hover    {
    cursor: pointer;
    
    box-shadow:0 0 10px 0 gainsboro;

}

.letterspans:hover  {
    opacity: 0.2;
}

footer  {

    position: fixed;
    bottom: 0;
    width: 100vw;

}

#footer-left    {
    display: flex;
    justify-content: start;
    padding-left: 20px;
    align-items: center;

}

#footer-right    {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;

}

.header-img {
    width: 25px;
    height: 25px;
    border-radius: 100px;
}

#magglass   {

    width: 30px;
    height: 27px;
    padding: 6px;
    border: 100px;

}

#mic    {
    width: 30px;
    height: 20px;
    border: none;
    padding: 6px;
    padding-top: 10px;
    
}


@media (max-width: 630px)   {

    #footer-nav {
        flex-direction: column;
    }

    #footer-left {
        justify-content: center;

    }

    #footer-right {
        justify-content: center;

    }

    .my-input-container {
        width: 95vw;
    }

}

@media (max-height: 522px)  {

    body    {
        overflow-x: hidden;
    }

    section {
        margin-bottom: 30px;

    }

    footer  {
        position: relative;

    }
}

@media  (max-height: 570px) and (max-width: 680px)  {

    body    {
        overflow-x: hidden;
    }

    section {
        margin-bottom: 13px;
        
    }

    footer  {
        position: relative;
    }

}
